* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 70%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.site_header {
	background: linear-gradient(to bottom,#0d47a1 50%, #1565c0 80%,#fff 50%);
	min-height: 100vh;
}
.header {
	margin: auto;
	max-width: 100rem;
	display: flex;
	align-items: center;
}
.brand {
	padding: 1rem;
	flex: 0 1 30%;
}

.brand h1 {
	color: #fff;
	font-family: 'Righteous', cursive;
	font-size: 2.5rem;
	letter-spacing: .5rem;
	text-transform: uppercase;
	margin: 0;
}
.brand span {
	font-weight: 300;
}

.navigation {
	padding: 3rem;
	flex: 0 1 70%;
	transition: 1s all;
}


.navigation_list {
	list-style-type: none;
	float: right;
}

.navigation_list_item {
	display: inline;
	padding: 1rem;
	font-size: 1.7rem;
	color: #fff;


}

.navigation_list_item:hover {
	background: #fff;
	color: #000;
	border-radius: 3px;
}

.navigation_list_item:hover  a {
	color: #000;
}


.navigation_list_item a {
	text-decoration: none;
	color: #fff;
	font-size: 1.7rem;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}
.dropdown {
	position: relative;
	transition: 1s all;

}

.drop_list {
	padding:0.3333rem;
	list-style-type: none;
	position: absolute;
	top: 4.5rem;
    left: 0rem;
    background: #fff;
    display: none;
    transition: 1s all;

}
.dropdown:hover > .drop_list {
	display: block;
}
.drop_list_item {
	padding:1rem;
}
.drop_list_item:hover {
	background:#ccc;
}
.drop_list_item a {
	text-decoration: none;
	color: #000;
	font-family: inherit;
}



.front_content {
	margin:auto;
	max-width: 100rem;
	display: flex;
	padding-top: 10rem;
}
.front_content_text {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;

}

.front_content_text h1 {
	font-size: 3.5rem;
	color: #fff;
	font-family: 'Righteous', cursive;
	font-weight: 300;
}
.front_content_text span {
	display: block;
}
.front_content_desc  {
	font-size: 1.5rem;
	color:#fff;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: 'Lato', sans-serif;

}
.email_box form {
	display: inline-block;
	background: #fff;
	padding: 1rem;
	border-radius: 3px;
	box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
}
.email_box input,.email_box button,.btn {
	padding: 1rem;
	outline: none;
	border:none;
	font-size: 1.7rem;
}
.email_box button {
	font-family: 'Lato', sans-serif;
	color: #fff;
	background:green;
	
}
.front_content_image {
	flex: 0 1 50%;
	box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
}
.front_content_image img {
	width: 100%;
}

.front_boxes {
	padding-top: 10rem;
	display: flex;
	margin: auto;
	max-width: 100rem;
}
.box {
	border-radius: 4px;
	padding: 2rem;
	flex: 0 1 50%;
	box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);

}
.box h1 {
	font-weight: 500;
	font-family: 'Righteous', cursive;
	color: #fff;
	font-size: 3rem;
}
.box h1 span {
	display: block;
}
.box p {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 1.7rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.first {
	margin-right: 5%;
	background-image: linear-gradient(to bottom,#2196f3e0 50%, #2196f3d9 70%),url(../img/dashboard.jpg);
	background-size: cover;
	background-position: top;
}
.second {
	background-image: linear-gradient(to bottom,#a2af20e0 50%, #a2af20e0 70%),url(../img/dashboard.jpg);
	background-size: cover;
	background-position: top;
}
.btn {
	border-radius: 3px;
	transition: 1s background,color;
}
.btn:hover {
	background: #fff;
	color: #000;
}
.box_btn {
    color: #2196F3;
    background: #fff;
	font-family: 'Lato', sans-serif;
}

.box_btn_s {
	background: transparent;
	border:1px solid #fff;
	color: #fff;
}
















/* Screen Sizes for Responsive screens*/

/* -> Below 600px  */
/* -> Below 900px */
/* -> Below 1200px */
/* -> Below 1800px */
/* -> More Than 1800px */


